@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ink-black: #01161eff;
    --dark-teal: #124559ff;
    --air-force-blue: #598392ff;
    --ash-grey: #aec3b0ff;
    --beige: #eff6e0ff;
    --success-green: #4ade80;
    --light-green: #86efac;
    --sage-green: #a3b18a;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--beige);
    color: var(--ink-black);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Outfit', sans-serif;
}

@layer utilities {

    /* Background colors */
    .bg-custom-beige {
        background-color: var(--beige);
    }

    .bg-custom-dark-teal {
        background-color: var(--dark-teal);
    }

    .bg-custom-light-green {
        background-color: var(--light-green);
    }

    .bg-custom-success-green {
        background-color: var(--success-green);
    }

    .bg-custom-ink-black {
        background-color: var(--ink-black);
    }

    .bg-custom-ash-grey {
        background-color: var(--ash-grey);
    }

    .bg-custom-air-force-blue {
        background-color: var(--air-force-blue);
    }

    /* Text colors */
    .text-custom-ink-black {
        color: var(--ink-black);
    }

    .text-custom-dark-teal {
        color: var(--dark-teal);
    }

    .text-custom-air-force-blue {
        color: var(--air-force-blue);
    }

    .text-custom-success-green {
        color: var(--success-green);
    }

    /* Border colors */
    .border-custom-air-force-blue {
        border-color: var(--air-force-blue);
    }

    .border-custom-success-green {
        border-color: var(--success-green);
    }

    .border-custom-ash-grey {
        border-color: var(--ash-grey);
    }

    /* Glass effect */
    .glass {
        background: rgba(239, 246, 224, 0.8);
        backdrop-filter: blur(12px);
    }
}